.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 1% 5%;
    color: white;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.5s;
    z-index: 999;
}

.Navbar *{
  cursor: pointer;
}


@media (orientation: portrait){
    h1{
      font-size: 12px;
    }
    #Navbar-logo {
      height: 25px;
      width:70px;
    }
    .Navbar *{
        margin: 0 5%;
        margin-top: 5px;
    }
  }